.card {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e8e8e8;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  cursor: pointer;
}
